.default-btn {
    border-radius: 20px;
    padding: 5px;
    text-align: center;
    font-family: 'Courier New', monospace;
    border: none;
    text-decoration: none;
    margin: 0 auto;
    outline: none;
}

.default-btn:hover {
    filter: brightness(0.97); /* Darker button color on hover */
    cursor: pointer;
}

.green-btn {
    background-color: #4CAF50;
}

.yellow-btn {
    background-color: #FFF100;
}

.blue-btn {
    background-color: #58CCDD;
}

.orange-btn {
    background-color: #EB9834;
}

.purple-btn {
    background-color: #BF86E3;
}
