@import url("buttons.css");
@import url('items.css');

#content {
    max-width: 960px;
    margin: auto; /* To center content */
}

header {
    background-color: #F7B912;
    padding: 5px 70px;
}

header > h1 {
    font-family: 'Courier New', monospace;
    font-size: 50px;
}

#flex-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap; /* Wrap the items in the container (for responsiveness) */
}

#description-div {
    display: inline-block;
}